/*soft reset do css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    /*z-index: 1;
    background-image: url('../img/fundo.jpg');*/
    background-size: auto 100vh;
    /*largurapx alturapx;*/
    font-family: 'Source Code Pro', monospace;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    color: white;
}


/* se a tela tiver ao menos 400px vai carregar estes estilos */

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

header {
    height: 100vh;
    /*coluna*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #f3fbec;
    /*posição fixa do menu. altera eixo z*/
    position: fixed;
    /*ajustar largura*/
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu a {
    /*controlar padding*/
    display: block;
    /*aumentar área de clique*/
    padding: 10px 20px;
    /*raio da bordar*/
    border-radius: 10px;
}

.menu a:active,
.menu a:hover {
    /*inversão de cor e trasicao de retorno*/
    background-color: midnightblue;
    color: #f3fbec;
    transition: background-color 0.5s, color 1s;
    /*pode omitir as propriedades mas pode dar problema caso tenha outras propriedades*/
}

a {
    color: midnightblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /* color: blueviolet;
      background-color: aquamarine;*/
}

.nome-principal {
    /*animacao*/
    transform: scale(0.5) translateY(50%);
    opacity: 0.4;
    animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
    /*0%{nao precisa colocar neste caso tbm pode ser from para to
    }*/
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.site-subtitle,
.site-title {
    color: #0c1a46;
    text-align: center;
    background-color: cornsilk;
    justify-content: center;
    align-items: center;
    /*opacity: 0.6;*/
}

.site-title {
    font-size: 4em;
    font-family: 'Gloria Hallelujah', cursive;
}

.site-subtitle {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8em;
}

.portfolio-title {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1.5em;
    font-size: 2em;
    padding: 10px;
    /*align-items: center;
    text-align: center;*/
}

.sobre,
.contato,
.portfolio {
    padding: 2em;
    min-height: 100vh;
    /* background: blue;
       só funciona o margin auto no right e left*/
}


/*.portfolio {
    minimo de altura
    padding: 2em;
    min-height: 100vh;
    só funciona o margin auto no right e left
}*/

@media (min-width: 1200px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
}

.sobre h2,
.contato h2,
.portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.portfolio .grid {
    display: grid;
    /*espaçamento entrelinhasou colunas*/
    gap: 2em;
}

.sobre p {
    color: white;
    /*recuo*/
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    text-align: justify;
}

.sobre a {
    color: white;
    text-decoration: underline;
}

.sobre a:hover {
    background-color: cyan;
    text-decoration: none;
    color: magenta;
}

.sobre .avatar {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-left: 2em;
}


/*.sobre .avatar img {
    /*clip é um corte - forma podendo ser responsivo usando o @media
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}*/

@media (min-width: 600px) {
    .sobre .avatar {
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        float: right;
    }
}


/*depois adaptar para mobile - apesar do "mobile first*/

.portfolio .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 560px) {
    .portfolio .grid {
        /*largura de colunas*/
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 260px);
        align-content: center;
        justify-content: center;
        /*calcular */
        height: calc(60vh - 8em - 48px);
    }
}

.flip-card {
    height: 180px;
    perspective: 1000px;
}

.flip-card:hover .card {
    transform: rotateY(180deg);
}


/*.img-portfolio:hover {
    box-shadow: 0px 0px 5px 2px midnightblue;
    transform: scale(1.1)
   }*/


/*organizando a posição dos cards*/

.card {
    /*sem a div mãe eles ficaram perdidos na página*/
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .7);
    height: 180px;
    width: 100%;
    transform: rotateY(180deg);
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
}


/* durante a implantacao dos cards
   .portfolio figure:active,
   .portfolio figure:hover {
       box-shadow: 0px 0px 5px 2px midnightblue;
       transform: scale(1.1);
       transition: transform 500ms rotate(45deg);
    }*/

.sobre,
.contato {
    padding: 1em;
    font-size: 1em;
    /*
    background-color: #f3fbec;*/
}

.contato .contato-Titulo {
    padding: 10px;
}

.contato .icons {
    text-align: center;
}


/*.grid_icons {
      color: blueviolet;
      font-size: 3em;
      justify-content: space-between;
   }*/

.contato a {
    color: blueviolet;
    font-size: 5em;
    padding: 20px;
    transition: text-shadow 200ms;
}


/*active é para funcionar no celular*/

.contato a:active,
.contato a:hover {
    text-decoration: none;
    /*eixo x eixo y borrado
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5) - rgba aceita transparencia;*/
    text-shadow: 5px 5px 5px rgba(25, 25, 112, 0.8);
}